<div *ngIf="messageService.messages.length">

  <h2>Messages</h2>
  <button type="button" class="clear"
          (click)="messageService.clear()">Clear messages</button>
  <div *ngFor='let message of messageService.messages'> {{message}} </div>

</div>


<!-- 你把数据访问逻辑重构到了 HeroService 类中。

你在根注入器中把 HeroService 注册为该服务的提供者，以便在别处可以注入它。

你使用 Angular 依赖注入机制把它注入到了组件中。

你给 HeroService 中获取数据的方法提供了一个异步的函数签名。

你发现了 Observable 以及 RxJS 库。

你使用 RxJS 的 of() 方法返回了一个模拟英雄数据的可观察对象 (Observable<Hero[]>)。

在组件的 ngOnInit 生命周期钩子中调用 HeroService 方法，而不是构造函数中。

你创建了一个 MessageService，以便在类之间实现松耦合通讯。

HeroService 连同注入到它的服务 MessageService 一起，注入到了组件中。 -->